.section-header {
	padding: 0;
	background: #ea3323;
	position: relative;
	width: 100%;
}

.banner {
	display: flex;
	height: 300px;
	align-items: center;
	display: flex;
	justify-content: center;
	color: #fff;
}

.main-nav {
	text-align: right;
	color: #fff;
	text-transform: uppercase;
}